body {
    overflow: hidden;
}

main {
    display: block;
    margin-top: 5px;
    font-family: "Vafthrudnir";
    max-width: 632px;
    max-height: 630px;
    width: 632px;
    height: 630px;
}

header {
    margin: 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.card-type-selector-label {
    display: block;
    margin: 10px;
}

.container {
    width: 352px;
    height: 500px;
    float: left;
    margin-right: 20px;
    text-align: center;
}

#preview {
    width: 352px;
    height: 500px;
    position: fixed;
    overflow: hidden;
    border-radius: 15px;
}

#portrait {
    width: 312px;
    height: 285px;
    border-radius: 15px;
    object-fit: fill;
    margin-left: 40px;
}

aside * {
    display: block;
    margin: 5px;
}

#threat-cost {
    float: left;
    margin-left: 60px;
    color: #4f6c87;
    position: absolute;
    margin-top: -258px;
    font-size: 20px;
    width: 20px;
    height: 20px;
}

#health {
    float: left;
    margin-left: 59px;
    color: #c42933;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black;
    position: absolute;
    margin-top: -52px;
    font-size: 38px;
    width: 20px;
    height: 20px;
    filter: contrast(1.30);
}

.naming-box {
    display: inline-block;
    position: relative;
    margin-top: 3px;
}

#unique {
    background-image: url("./img/uniqueSymbol.png");
    width: 15px;
    height: 16px;
    float: left;
    background-size: 15px;
    margin-right: 5px;
}

#hero-name {
    font-weight: 300;
    font-size: 13px;
    display: inline-block;
}

.data {
    font-family: "Amiri";
}

.type-box {
    position: relative;
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: center;
    margin-top: 7px;
    font-style: italic;
    font-weight: 600;
}

.card-text {
    position: relative;
    width: 280px;
    height: 80px;
    margin: auto;
    margin-top: 3px;
    font-family: 'Amiri', serif;
    text-align: left;
    font-size: 13.5px;
    line-height: 100%;
    font-weight: 400;
}

#abilities-input {
    margin-right: 20px;
}


#hero-name::first-letter {
    font-size: 18px;
}

.attributes {
    position: absolute;
    text-align: center;
    margin-left: 54px;
    margin-top: -197px;
    font-size: 18px;
}

#atkCard, #defCard {
    display: block;
    margin-top: 15px;
}

#flavor-preview {
    position: relative;
    width: 280px;
    height: 40px;
    margin-top: 80px;
    margin: auto;
    font-style: italic;
    font-size: 11.5px;
    font-family: 'Amiri', serif;
    line-height: 100%;
    font-weight: 400;
    text-align: left;
}

/* .dl-btn {
    margin-top: 70px;
    width: 100px;
    height: 30px;
    background-color: #121212;
    color: white;
    border-radius: 5px;
} */


